<script lang="ts">
	import "../app.less";
	import type { SessionInfo } from "$lib/session";
	import Login from "$lib/components/Login.svelte";
	import { session } from "$app/stores";
	let sessinfo: SessionInfo = { ok: false };

	session.subscribe((s: SessionInfo) => {
		sessinfo = s;
	});
</script>

<div class="toolbar">
	{#if sessinfo.ok}
		Logged in!!
		<a href="/">Home</a>
		<a href="/profile">Profile</a>
		<a href="/logout">Logout</a>
	{:else}
		<Login />
	{/if}
</div>
<slot />

<style>
	.toolbar {
		text-align: center;
	}
</style>
