

<script lang="ts">
</script>

<main>
	<h1>prudent profile</h1>

	<p>
		This is a learning project about deploying a SvelteKit project to AWS using
		a custom adapter and CDK.
	</p>
	<p>
		Code is available <a href="https://gitlab.com/juhani/prudent-profile">here</a>
	</p>
	
</main>

<style lang="less">
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 100;
		line-height: 1.1;
		margin: 4rem auto;
		max-width: 14rem;
	}

	p {
		max-width: 14rem;
		margin: 2rem auto;
		line-height: 1.35;
	}

	@media (min-width: 480px) {
		h1 {
			max-width: none;
		}

		p {
			max-width: none;
		}
	}
</style>
<svelte:head>
	<title>Home</title>
</svelte:head>