<script lang="ts" context="module">
	import type { Load } from "@sveltejs/kit";
	import type { Profile } from "$lib/db";

	export const load: Load = async ({ fetch, page }) => {
		console.log('loading')
		console.log(JSON.stringify(page))
		const res = await fetch("/profile.json");
		console.log(res.ok)
		if (res.ok) {
			const data = await res.json();
			console.log(JSON.stringify(data))
			const profile: Profile = data.profile as Profile;
			return {
				props: {
					name: profile ? profile.name : '',
					sessions: data.sessions || [],
				},
				maxage: 10,
			};
		}
		console.log('returning error')
		return {
			status: res.status,
			error: new Error(`Could not load profile data`),
		};
	};
</script>

<script lang="ts">
	import type { Session } from "$lib/db";
	import {} from "$app/stores";

	export let name = "name here";
	export let sessions: Session[] = [];
</script>

<main>
	<h1>Profile</h1>

	<p>
		Name: {name}
	</p>

	<h3>Sessions</h3>
	{#each sessions as session}
		<div>From {session.initiatingIP}, expires at {new Date(session.expiresAt*1000)}</div>
	{/each}
</main>

<svelte:head>
	<title>Profile</title>
</svelte:head>

<style lang="less">
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 100;
		line-height: 1.1;
		margin: 4rem auto;
		max-width: 14rem;
	}

	p {
		max-width: 14rem;
		margin: 2rem auto;
		line-height: 1.35;
	}

	@media (min-width: 480px) {
		h1 {
			max-width: none;
		}

		p {
			max-width: none;
		}
	}
</style>
