<script lang="ts">
    import { emailRE } from "$lib/common/email";

    let alert: string;
    let email: string;
    async function onSubmit() {
        if (!emailRE.test(email)) {
            alert = "Email doesn't look too good!";
            return;
        }
        const res = await fetch("/login/verifyemail", {
            body: JSON.stringify({ email }),
            method: "POST",
            headers: {
                "content-type": "application/json",
            },
        });
        if (res.status === 201) {
            alert = "success";
            return;
        } else if (res.status === 200) {
            const body = await res.json();
            alert = body.reason;
            return;
        }
        alert = "error";
    }
</script>

<form on:submit|preventDefault={onSubmit}>
    <input type="email" placeholder="me@example.com" bind:value={email} />
    <button type="submit">Login with your email</button>
</form>
{#if alert}
<div>{alert}</div>
{/if}